.login-container  {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px black;
  margin-top: -160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  font-family: 'Six Caps', sans-serif;
  font-size: 80px;
  color: red;
  text-decoration: underline;
  margin-top: -70px;
}

.input  {
  width: 270px;
  height: 34px;
  font-size: 22px;
  border: solid 1px red;
  border-radius: 3px;
  margin: 20px;
  box-shadow: 0px 0px 6px black;
}

.submit-button {
  width: 200px;
  height: 45px;
  background: red;
  transition: 1s;
  border-radius: 22px;
  box-shadow: 0px 0px 12px black;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
}

.submit-button:hover{
  cursor: pointer;
  transform: scale(1.1);

}

.submit-button-title  {
  font-size: 23px;
  margin-top: 5px;
  color: white;
}
