.controls-container {
  width: 100%;
  height: 12vh;
  background: red;
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  box-shadow: inset 0px 0px 12px black;
}

.logo-container {
  position: absolute;
  top: 0px;
  left:  0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}


.logo  {
  font-family: 'Six Caps', sans-serif;
  color: white;
  font-size: 65px;
  font-weight: 100;
}

.menu-button-container {
  width: 56px;
  height: 10vh;
  margin-left: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*background: green;*/
}


.menu-button  {
  width: 102px;
  position: absolute;
  /*top: 7px;
  left: 32%;*/
  animation-delay: 0s;
  animation: spin 8s infinite linear;
  z-index: 100;
  margin-top: 0px;
}

.menu-button-title  {
  font-size: 11px;
  color: white;
  margin-top: 56px;
}

.menu-button-title:hover  {
  cursor: pointer;
}

@keyframes spin {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

.menu-button:hover {
  cursor: pointer;
  animation: spin 2s infinite linear;
}

.menu-overlay {
  width: 100%;
  height: 1000px;
  position: absolute;
  margin-top: -2000px;
  left: 0;
  background: red;
  opacity: .8;
  z-index: 3;
}

.menu-overlay-close {
  animation-name: overlaySlideClose;
  animation-duration: 1s;
}

@keyframes overlaySlideClose {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -2000px;
  }
}

.menu-overlay-open {
  margin-top: 0px;
  left: 0;
  animation-name: overlaySlideOpen;
  animation-duration: 1s;
}

@keyframes overlaySlideOpen {
  0% {
    margin-top: -2000px;
  }
  100% {
    margin-top: 0px;
  }
}

.menu-close  {
  width: 100%;
  height: 1000px;
  position: absolute;
  margin-top: -1000px;
  /*background: green;*/
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-close:hover {
  cursor: pointer;
}

.menu-close-animation {
  animation-name: menuSlideClose;
  animation-duration: 1s;
}

@keyframes menuSlideClose {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -1000px;
  }
}

.menu-open  {
  margin-top: 0px;
  animation-name: menuSlideOpen;
  animation-duration: 1s;
}

@keyframes menuSlideOpen {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 0px;
  }
}

.menu-controls {
  width: 300px;
  height: 500px;
  position: absolute;
  background: white;
  /* margin-top: -100px; */
  top: 59px;
  box-shadow: 0px 0px 12px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.hide {
  display: none;
}

.menu-title {
  font-family: 'Six Caps', sans-serif;
  font-size: 100px;
  color: red;
  text-decoration: underline;
}

.button {
  width: 200px;
  height: 45px;
  background: red;
  display: flex;
  margin-top: 24px;
  align-items: center;
  justify-content: center;
  transition: 1s;
  border-radius: 22px;
  box-shadow: 0px 0px 12px black;
}

.button-title {
  font-size: 23px;
  margin-top: 5px;
  color: white;
}

.button:hover  {
  cursor: pointer;
  /*border: solid 1px red;*/
  /*background: white;
  box-shadow: 0px 0px 12px red;*/
  transform: scale(1.1);
}

/*.button:hover .button-title {
  color: red;
}*/

.create-button-title  {
  font-size: 18px;
}


/***************************************
media query 840
****************************************/

@media screen and (max-width: 840px) {

  .menu-button-container  {
    margin-left: 24%;
  }

}


/***************************************
media query 560
****************************************/

@media screen and (max-width: 560px) {

  .menu-button-container  {
    margin-left: 3%;
  }

}
