/**********************************************
          Background
***********************************************/

.background-container  {
  width: 100%;
  height: 100vh;
  background: black;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh 90vh;
  position: absolute;
  top: -3000px;
  overflow: hidden;
  z-index: -1000;
  animation-name: intro-fade;
  animation-duration: 9s;
}

@keyframes intro-fade {
  0% {
    top: 0px;
    z-index: 1000;
  }
  40% {
    top: 0px;
    z-index: 1000;
  }
  100% {
    top: -3000px;
    z-index: -1000;
  }
}


.background-video  {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  opacity: .4;
}

.intro-container  {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  z-index: 11;
  animation-name: intro-scroll;
  animation-duration: 7s;
}

@keyframes intro-scroll {
  0% {
    left: -1000px;
  }
  40% {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}

.intro-logo-container {

}

.intro-logo  {
  font-family: 'Six Caps', sans-serif;
  font-size: 100px;
  font-weight: 100;
  color: white;
}
